body {
    background-color:#f7cece;
}

.texto-principal {
    margin-right: 20%; 
}

h1 {
    color: #1a1818;
    text-align: center;
}
h2 {
    color: #8a8991;
}
p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
	color:  #5F9EA0;
	text-decoration: underline;
}
.texto-principal {
    margin-right: 20%; 
}

h1 {
    color: #1d1c1c;
    text-align: center;
}
h2 {
    color: #483D8B;
}
p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
	color: blue;
	text-decoration: underline;
}
